.vscode/
templete/
img/
researchDataSummary/images
researchDataSummary/*.pdf
researchDataSummary/*.nl*
researchDataSummary/*.ilg
researchDataSummary/*.bcf
researchDataSummary/*.mw
researchDataSummary/*.xml
researchDataSummary/*.xdy
*.pdf
*.gz
*.log
*.aux
*.docx
*.doc
*.code-workspace