.vscode/
templete/
img/
researchDataSummary/images
researchDataSummary/*.pdf
researchDataSummary/*.nl*
researchDataSummary/*.ilg
researchDataSummary/*.bcf
researchDataSummary/*.mw
researchDataSummary/*.xml
researchDataSummary/*.xdy
researchDataSummary/*.gl*
researchDataSummary/*.blg
researchDataSummary/*.bbl
researchDataSummary/*.lot
researchDataSummary/*.lof
researchDataSummary/*.ind
researchDataSummary/*.toc
researchDataSummary/*.idx
*.pdf
*.gz
*.log
*.aux
*.docx
*.doc
*.sql
*.code-workspace